@page "{communityName}"
@model Writed.Pages.Communities.CommunityModel

@{
    ViewData["Title"] = "Community";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@Model.Community.Name</h1>

<div>
    <div class="center row">
        <p style="color: snow;">@Model.Community.Description</p>
    </div>
    <a asp-page="/Posts/Create" asp-route-communityName="@Model.Community.Name" class="button-26">Create Post</a>
    <hr />
    <dl>
        @foreach(var post in Model.Posts)
        {
            <dd>
            <section>
                <h2>Author: @post.Author.UserName</h2>
                <h3>@post.Title</h3>
                <p class="date">@post.CreatedDate.ToString("d MMMM h:mm tt yyyy")</p>
                <p>@post.Content</p>
                <a asp-page="/Posts/Post" asp-route-id="@post.Id" class="button-26">Read More</a>
            </section>
            </dd>
        }
        </dl>
</div>