@page "{communityName}"
@model Writed.Pages.Communities.CommunityModel

@{
    ViewData["Title"] = "Community";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Community</h1>

<div>
    <h4>Community</h4>
    <form method="post">
        <button type="submit" id="search-button" asp-page-handler="CreateNewPost" asp-route-communityName="@Model.Community.Name" class="button-26">Create Post</button>
    </form>
    <hr />
    <dl>
        @foreach(var post in Model.Posts)
        {
            <dd>
            <section>
                <h2>Author: @post.User.UserName</h2>
                <h3>@post.Title</h3>
                <p class="date">@post.CreatedDate.ToShortDateString()</p>
                <p>@post.Content</p>
                <form method="post">
                    <button type="submit" id="search-button" asp-page-handler="ReadMore" asp-route-postId="@post.Id" class="button-26">Read More</button>
                </form>
            </section>
            </dd>
        }
        </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Community?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
